{% extends 'base.html' %}

{% block title %}
Chat with {{ recipient.username }}
{% endblock %}

{% block body %}
<h1 class="chat-title">Chat with {{ recipient.username }}</h1>

<div id="messages" class="message-container" data-room="{{ room }}" data-sender="{{ session['user_id'] }}"
    data-recipient="{{ recipient.id }}">
    {% for message in messages %}
    <div class="message-item" data-id="{{ message.id }}">
        <strong class="message-sender">
            {{ 'You' if message.sender_id == session['user_id'] else message.sender.username }}:
        </strong>
        <span class="message-content">{{ message.content }}</span>
        <span class="message-time" style="right: 0; bottom: 0; position: absolute;">
            {{ message.timestamp.strftime('%H:%M %d/%m') }}
        </span>
        {% if message.sender_id == session['user_id'] %}
        <span class="read-status">{{ 'Read' if message.read else '' }}</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div id="typing-indicator-container"></div>

<form id="message-form" class="message-form">
    <textarea id="message-input" name="content" class="message-input" required></textarea>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/static/js/dialog.js"></script>
{% endblock %}