{% extends 'base.html' %}

{% block title %}
Dialogs
{% endblock %}

{% block body %}
<div id="messages" 
     data-sender="{{ session['user_id'] }}" 
     data-sender_username="{{ session['username'] }}"
</div>
<h1 class="page-title">Dialogs</h1>
<ul class="dialog-list">
    {% for user in users %}
    <li class="dialog-item" id="dialog-user-{{ user.id }}">
        <div class="dialog-row">
            <a href="{{ url_for('auth.user_profile', username=user.username) }}">
                <img src="{{ url_for('static', filename=user.avatar_url) }}" alt="Avatar" class="dialog-avatar">
            </a>
            <a href="{{ url_for('dialog.dialog', username=user.username) }}" class="dialog-link">{{ user.username }}</a>
    
            <span class="dialog-last-message">
                {% if last_messages[user.id] %}
                    {{ 'You' if last_messages[user.id].sender.username == session['username'] else ''}}
                    {{ last_messages[user.id].content }}
                {% else %}
                    No messages yet.
                {% endif %}
            </span>
    
            <span class="message-time">
                {% if last_messages[user.id] %}
                    {{ last_messages[user.id].timestamp.strftime('%H:%M %d/%m') }}
                {% else %}
                    No messages yet.
                {% endif %}
            </span>
    
            <span class="unread-count">
                {% if last_messages[user.id] %}
                    {{ last_messages[user.id].unread_count if last_messages[user.id].unread_count > 0 else '' }}
                {% else %}
                    0
                {% endif %}
            </span>
        </div>
    </li>
    
    {% endfor %}
</ul>
<script src="//cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const socket = io();
    const currentUserId = document.getElementById('messages').dataset.sender;

    socket.on('update_last_message', function (data) {
        const { sender_id, recipient_id, content, timestamp, unread_count } = data;

        if (recipient_id === currentUserId) {
            const dialogItem = document.querySelector(`#dialog-user-${sender_id}`);
            if (dialogItem) {
                const lastMessageElement = dialogItem.querySelector('.dialog-last-message');
                lastMessageElement.textContent = `${content}`;

                const timestampElement = dialogItem.querySelector('.message-time');
                timestampElement.textContent = timestamp;

                const unreadCountElement = dialogItem.querySelector('.unread-count');
                if (unreadCountElement) {
                    unreadCountElement.textContent = unread_count > 0 ? unread_count : '';
                }
            }
        }
    });
});
</script>
{% endblock %}
