{% extends 'base.html'%}

{% block title %}
Forget Password
{% endblock %}

{% block body %}
<div class="form-container">
    {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    {% if success_message %}
    <div class="alert alert-success">{{ success_message }}</div>
    {% endif %}
    <form method="POST" class="styled-form">
        <input type="email" name="email" placeholder="Enter your email" class="form-control" required
            style="color: black;">
        <button type="submit" class="btn btn-primary-form">Submit</button>
    </form>
</div>
{% endblock %}