{% extends 'base.html'%}

{% block title %}
Forget Password
{% endblock %}

{% block body %}
<div class="form-container">
    {% if success_message %}
    <div class="alert alert-success">{{ success_message }}</div>
    {% elif error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}

    <form method="POST" class="styled-form">
        <input type="password" name="password" placeholder="Enter new password" class="form-control" required>
        <input type="password" name="confirm_password" placeholder="Confirm new password" class="form-control" required>
        <button type="submit" class="btn btn-primary-form">Reset Password</button>
    </form>
</div>
{% endblock %}