{% extends 'base.html'%}

{% block title %}
About us
{% endblock %}

{% block body %}
<div class="lyrics">
    <p>Fuck my life, can't save that girl</p>
    <p>Don't tell me you could save that shit</p>
    <p>All she want is payback for the way I always play that shit</p>
    <p>You ain't gettin' nothin' that I'm sayin'</p>
    <p>Don't tell me you is</p>
    <p>Nothin' like them other motherfuckers</p>
    <p>I can make you rich (I can make you rich)</p>
    <p>I can make you this, baby, I can make you that</p>
    <p>I can take you there, but baby, you won't make it back</p>
    <p>Growin' sick of this and I don't wanna make you sad</p>
    <p>Do I make you scared? Baby, won't you take me back?</p>
    <p>Nothin' like them other motherfuckers</p>
    <p>I can make you rich (I can make you rich)</p>
    <p>Nothin' like them other motherfuckers</p>
    <p>I can make you rich (I can make you rich)</p>
</div>
{% endblock %}